<header>
    <a class="logo" routerLink=""><img src="./assets/imgs/migratelogo.png" style="width: 150px;"></a>
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/main_services" routerLinkActive="active-link">Main Services</a></li>
            <li><a routerLink="/jacobs_services" routerLinkActive="active-link">Services in Jacobs</a></li>
            <li><a routerLink="/jstore" routerLinkActive="active-link">Jacob's Store</a></li>
        </ul>
    </nav>
    <a></a>
</header>
