<div class="services_container">
  <div class="service">
    <img src="./assets/imgs/bank.png" routerLink="/main_services/banking" alt="bank">
    <p>Banking</p>
  </div>
  <div class="service">
    <img src="./assets/imgs/insurance.png" routerLink="/main_services/insurance" alt="insurance">
    <p>Insurance</p>
  </div>
  <div class="service">
    <img src="./assets/imgs/document.png" routerLink="/main_services/documents" alt="document">
    <p>Documents</p>
  </div>
  <div class="service">
    <img src="./assets/imgs/home.png" routerLink="/main_services/housing" alt="home">
    <p>Housing</p>
  </div>
</div>


