<div class="products">
    <div class="product">
        <span class="product_price">$120</span>
        <img class="product_image" src="../../../assets/imgs/shoes.jpeg" alt="">
        <h1 class="product_title">Shoes</h1>
        <hr />
        <p>Description text of this awesome product. Please buy it before someone else beats you to it ;)</p>
        <a href="#" class="product_btn btn">Buy Now</a>
    </div>
    <div class="product">
        <span class="product_price">$40</span>
        <img class="product_image" src="../../../assets/imgs/shelf.jpeg" alt="">
        <h1 class="product_title">Shelf</h1>
        <hr />
        <p>Description text of this awesome product. Please buy it before someone else beats you to it ;)</p>
        <a href="#" class="product_btn btn">Buy Now</a>
    </div>
    <div class="product">
        <span class="product_price">$90</span>
        <img class="product_image" src="../../../assets/imgs/skateboard.jpeg" alt="">
        <h1 class="product_title">Skateboard</h1>
        <hr />
        <p>Description text of this awesome product. Please buy it before someone else beats you to it ;)</p>
        <a href="#" class="product_btn btn">Buy Now</a>
    </div>
    <div class="product">
        <span class="product_price">$120</span>
        <img class="product_image" src="../../../assets/imgs/shoes.jpeg" alt="">
        <h1 class="product_title">Shoes</h1>
        <hr />
        <p>Description text of this awesome product. Please buy it before someone else beats you to it ;)</p>
        <a href="#" class="product_btn btn">Buy Now</a>
    </div>
    <div class="product">
        <span class="product_price">$40</span>
        <img class="product_image" src="../../../assets/imgs/shelf.jpeg" alt="">
        <h1 class="product_title">Shelf</h1>
        <hr />
        <p>Description text of this awesome product. Please buy it before someone else beats you to it ;)</p>
        <a href="#" class="product_btn btn">Buy Now</a>
    </div>
    <div class="product">
        <span class="product_price">$90</span>
        <img class="product_image" src="../../../assets/imgs/skateboard.jpeg" alt="">
        <h1 class="product_title">Skateboard</h1>
        <hr />
        <p>Description text of this awesome product. Please buy it before someone else beats you to it ;)</p>
        <a href="#" class="product_btn btn">Buy Now</a>
    </div>
</div>

