<section class="title">
  <h1>Services in Jacobs University!</h1>
</section>

<!-- <div class="section_links">
  <ul>
    <li><a href="jacobs_services/#sect1">Section 1</a></li>
    <li><a href="jacobs_services/#sect2">Section 2</a></li>
    <li><a href="jacobs_services/#sect3">Section 3</a></li>
    <li><a href="jacobs_services/#sect4">Section 4</a></li>
    <li><a href="jacobs_services/#sect5">Section 5</a></li>
    <li><a href="jacobs_services/#sect6">Section 6</a></li>
  </ul>
</div>  -->

<section id="sect1">
  <h2><u>How To's:</u></h2>
  <ul>
    <li><a href="">How to setup Eduroam?</a></li>
    <li><a href="">How to configure the printers?</a></li>
  </ul>
</section>

<section id="sect2">
  <h2><u>Printers at Jacobs University:</u></h2>
  <ul>
      <li>How to use the printers in Jacobs University?</li>
      <li>How many printers are available and where are they located?</li>
  </ul>
</section>

<section id="sect3">
  <h2><u>Navigation:</u></h2>
  <ul>
    <li><a href="https://goo.gl/maps/xhhzqwxgeTkeAgpV7">Jacobs University</a></li>
    <li><a href="https://goo.gl/maps/texydB7jWmcbNJBn8">Bremen HBF</a></li>
    <li><a href="https://goo.gl/maps/oeQszgfd2HLZ3i3W6">Bremen International Airport</a></li>
  </ul>
</section>

<section id="sect4">
  <b>FaQs:</b>
  <ul>
      <li>Closest shops to Jacobs University:</li>
      <ul>
        <li>Netto</li>
        <li>Kaufland</li>
      </ul>
  </ul>
</section>

<section id="sect5">
  <b>Modes of transport:</b>
  <ul>
    <li>Navigation Apps:</li>
    <ul>
      <li>Google maps</li>
      <li>FahrPlanner</li>
      <li>DB</li>
    </ul>
    <li>Electric Scooters - Tier</li>
  </ul>
</section>

<section id="sect6">
  <h2><u>Food Services:</u></h2>
</section>


