@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.title {
  text-align: center;
}

// #sect1, #sect2, #sect3, #sect4, #sect5, #sect6 {
//   height: 50vh;
// }
