<h2><u>Housing:</u></h2>
<div class="legal_advice">
  <h3>Sites for Legal Advice:</h3>
  <p>
    The USG delivered your concerns about negotiating with external landlords and understanding your contracts and rights as tenants.
    Below are legal services that can help you navigate your contracts while emphasizing renters' interests. They all cost around 65 EUROS
    per year as a membership fee. However, if you are concerned about how fair contracts are, please use this service.
    For an explanation of what the Mieterverein is, please consult this: <br>
    <a href="https://www.berliner-mieterverein.de/sprachen/englisch.htm" target="_blank">(Welcome to Berlin Tenants’ Association (Berliner Mieterverein) | Berliner Mieterverein e.V. (berliner-mieterverein.de)</a>
  </p>
</div>


<b>Top 5 sites to find apartments:</b>
<ul>
  <li><a href="https://teamwork.jacobs-university.de/display/GSA/Latest+Housing+Offers" target="_blank">List of apartments from Jacobs</a></li>
  <br>
  <li><a href="https://www.wohnungsboerse.net/" target="_blank">Wohnungsboerse.net</a></li>
  <li><a href="https://www.ebay-kleinanzeigen.de/s-wohnung-mieten/vegesack/c203l6" target="_blank">Apartment for rent in Vegesack - Bremen (ebay-kleinanzeigen.de)</a></li>
  <li><a href="https://www.immowelt.de/" target="_blank">Immowelt.de</a></li>
  <li><a href="https://immobilien.nwzonline.de/" target="_blank">NWZ-Immo (nwzonline.de)</a></li>
  <li><a href="https://www.immobilienscout24.de/" target="_blank">ImmoScout24 (immobilienscout24.de)</a></li>
</ul>
